/* THIS PROJECT IS A PLAYGROUND TO TEST STUFF, THAT'S WHY IM USING BOTH TAILWIND AND CSS AND IT KINDA LOOKS UGLY BUT IT'S JUST TESTING AND PLAYING AROUND 🙂🙂🙂🙂 */
.typeCard {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  min-width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal {
  background-color: var(--normal-type);
}

.fire {
  background-color: var(--fire-type);
}

.water {
  background-color: var(--water-type);
}

.electric {
  background-color: var(--electric-type);
}

.grass {
  background-color: var(--grass-type);
}

.ice {
  background-color: var(--ice-type);
}

.fighting {
  background-color: var(--fighting-type);
}

.poison {
  background-color: var(--poison-type);
}

.ground {
  background-color: var(--ground-type);
}

.flying {
  background-color: var(--flying-type);
}

.psychic {
  background-color: var(--psychic-type);
}

.bug {
  background-color: var(--bug-type);
}

.rock {
  background-color: var(--rock-type);
}

.ghost {
  background-color: var(--ghost-type);
}

.dragon {
  background-color: var(--dragon-type);
}

.dark {
  background-color: var(--dark-type);
}

.steel {
  background-color: var(--steel-type);
}

.fairy {
  background-color: var(--fairy-type);
}
